<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <button class='btn btn-large' onclick="javascript:location.href='/question/check'">审查问题</button>
    <button class='btn btn-large' onclick="javascript:location.href='/topic/check'">审查话题</button>
  </body>
</html>